$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  font-family: $font-sans;
}

a {
  color: $link-color;
}

// .placeImg {
//   width: 50%;
// }

.placeImgPro {
  width: 30%;
}