 <h2>Add a Secret Place!</h2>
<button id='location-btn'>Get My Location</button>
<form method="POST" action="/addPlace" enctype="multipart/form-data">
   <div class="form-group location-hide">
    <label for="location">Location:</label>
    <input id="location-input" class="form-control" type="text" name="location" placeholder="Location">
    </div>
    <div class="form-group">
    <select class="form-control" id="category" name="category">
      <option value="">Choose a Category:</option>
        <option value="tosee">To See</option>
        <option value="toeat">To Eat</option>
        <option value="todrink">To Drink</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Place Name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description"  name="description" rows="3"></textarea>
  </div>
   <div class="form-group">
    <input type="file" name="file">
  </div>
  <div class="form-group">
    <button>Submit</button>
  </div>
</form>

  <script src="scripts/add.js"></script>

 