<div class="pt-3container home-img d-flex justify-content-end">
<img class="mx-auto mt-3 findImage" src="images/find.png" alt="">
</div>

<div class='mt-5 text-center'>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" name="tosee" class="btn btn-primary filter-btn">To See</button>
  <button type="button" name="toeat" class="btn btn-primary filter-btn">To Eat</button>
  <button type="button" name="todrink" class="btn btn-primary filter-btn">To Drink</button>
</div>
</div>

<div class="my-5" id="map"></div>
 <button class='btn btn-primary my-4 text-white d-block mx-auto' type="button"><a href="/add" class="text-white h4"> Add New Place</a></button>
 {{!-- Lists each place --}}
 <div class="row justify-content-around">

  <div class="col-sm-4 place-start">
    <div class="card place-info">
      <div class="card-body">
        <img class='placeImg card-img-top' src="" alt="place">
        <h5 class="card-title placeName "></h5>
         <p class="placeDescription card-text"></p>
          <p class="placeTime"></p>
      </div>
    </div>
  </div>
</div>


