<h1>Home</h1>

<div>
    <label for="category-filter">Choose a Category:</label>
    <select id="category-filter">
        <option value="">Choose An Option</option>
        <option value="tosee">To See</option>
        <option value="toeat">To Eat</option>
        <option value="todrink">To Drink</option>
    </select>
    <button id="category-filter-btn">Submit</button>
</div>
 <div id="map"></div>

 {{!-- Lists each place --}}
 <h1>What's Happening</h1>
   <div class="places-container">
      <div class="place-info">
        <h2 class="placeName">Name</h2>
        <p class="placeDescription">Description</p>
        <p class="placeTime">Time</p>
      </div>
  </div>

 <button type="button"><a href="/add">Add New Place</a></button>
