<body class="first-page" style="backgorund-image: url(/images/lisbon.jpg); background-size: cover" width="100%" height="100%"></body>


<p class='text-white'></p>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Secret Places</h1>
    <p class="lead">Find secret places to eat, drink and enjoy!</p>
  </div>
</div>
