<body style="background-image: url(/images/first-page.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh"></body>
<p class='text-white'></p>

<div class="jumbotron mt-5">
  <div class="container">
    <img class=" d-flex secretplace" src="../images/secret.png">
    <p class="lead">Find a place to have wonderful time with your friends, family or couple!</p>
  </div>
</div>
</div>

