<body style="background-image: url(/images/first-page.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh"></body>
<p class='text-white'></p>

<div class="jumbotron mt-5">
  <div class="container">
    <img class=" d-flex secretplace w-75" src="../images/secret.png">
    <h4 class="w-75 mt-3">Find local places off the beaten path to have a wonderful time with your friends, family or couple!</h4>
  </div>
</div>
</div>
