<body style="background-image: url(/images/first-page.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh"></body>

<p class='text-white'></p>

<div class="jumbotron mt-5">
  <div class="container">
    <h1 class="h1">Secret Places</h1>
    <p class="lead">Find secret places to eat, drink and enjoy!</p>
  </div>
</div>
</div>

