<body style="background-image: url(/images/first-page.jpg); background-size: cover"></body>

<p class='text-white'></p>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Secret Places</h1>
    <p class="lead">Find secret places to eat, drink and enjoy!</p>
  </div>
</div>
</div>

