<h1>You are about to sign in to continue seraching great places</h1>

<form method="POST" action="/login">
  <div class="form-group">
    <label for="sign-in-email">Email</label>
    <input type="email" name="email" placeholder="Your Email">
  </div>
  <div class="form-group">
    <label for="sign-in-password">Password</label>
    <input type="password" name="password" placeholder="A Safe Password">
  </div>
  <button type="submit">Sign In</button>
</form>