<body style="background-image: url(/images/first-page.jpg); background-size: cover"></body>
<div class='container w-75 bg-light mt-5 px-5 py-4'>
<h1 class="mb-4 display-4">Login</h1>
<form method="POST" action="/login">
  <div class="form-group mb-4">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" name="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group mb-4">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary px-5 mt-2">Login</button>
</form>
</div>